//- Fixed Menu: https://semantic-ui.com/examples/fixed.html
.ui.fixed.inverted.menu
  .ui.container
    a(href="#").header.item SheetMetal Bending Calculator 
    .ui.simple.dropdown.item
      | Menu #[i.dropdown.icon]
      .menu
        a.item(href="https://github.com/ceremcem/sheetmetal_calculator") 
          span.icon #[i.fab.fa-wrapper.fa-github(aria-hidden="true")]
          | Source Code
        a.item(href="https://github.com/shaise/FreeCAD_SheetMetal") 
          | FC SheetMetal WB
        a.item(href="https://github.com/shaise/FreeCAD_SheetMetal#terminology") 
          | Terminology

.ui.main.container

  h3.ui.block.top.attached.header K-factor Calculator
  .ui.attached.segment
    .ui.two.column.stackable.grid
      .row
        .column 
          table
            tr
              td Inner radius (mm)
              td
                  .ui.input #[input.inline(value="{{innerRadius}}" type="number")]
            tr 
              td Material thickness (mm)
              td 
                .ui.input #[input(value="{{Mt}}" type="number")]
            tr
              td Bend angle 
              td 90°
      .row
        .column
          h5 Get #[u Flange Diff] by using K-factor 
          table
            tr
              td K-factor (ANSI)
              td 
                .ui.input #[input(value="{{kFactor}}" type="number")]
            tr
              td Flange Diff (FD)
              td {{flangeDiff}} mm 
        .column
          h5 Get #[u K-factor] by using Flange Diff 
          table
            tr
              td Flange Diff (mm) #[span(title="Flange - Mold_Line_distance") *] 
              td 
                .ui.input #[input(value="{{fdiffInput}}" type="number")]
            tr 
              td K-Factor (ANSI)
              td {{getKFactor(fdiffInput)}}
  
  h3.ui.block.attached.header Punch Distance Calculator
  .ui.attached.segment
    .row
      img.ui.fluid.large.image(src="img/air-bending-punch-distances.svg" alt="air-bending-punch-distances.svg")

    .row
      table
        tr
          td Flange Diff 
          td 
            .ui.input #[input(value="{{fdiffInput}}" type="number")]mm
        tr
          td Mold Line Distance
          td 
            .ui.input #[input(value="{{ML}}" type="number")]mm
        tr 
          td 
            span(style="color: red") x = ML + FD
            | = {{round2(ML)}} #[i mm] + {{round2(fdiffInput)}} #[i mm] 
            | = 
          td
            b {{round2(ML + fdiffInput)}} #[i mm]

  .ui.inverted.section.divider
