h1 Sheet Metal Bending Calculator
h5 
  | (#[a(href="https://github.com/ceremcem/sheetmetal_calculator") Source Code])
  | (#[a(href="https://github.com/shaise/FreeCAD_SheetMetal") FC SheetMetal WB])

table
  tr
    td Inner radius 
    td #[input(value="{{innerRadius}}" type="number")]mm 
  tr 
    td Material thickness 
    td #[input(value="{{Mt}}" type="number")]mm
  tr
    td Bend angle 
    td #[input(value="{{bendAngle}}" disabled type="number")]°


table
  tr 
    td
      h3 Get #[u Flange Diff] by using K-factor 
      table
        tr
          td K-factor (ANSI)
          td #[input(value="{{kFactor}}" type="number")]
        tr
          td Flange Diff (FD)
          td {{flangeDiff}} mm 
    td
      h3 Get #[u K-factor] by using Flange Diff 
      table
        tr
          td #[a(tooltip="Flange - Mold_Line_distance") Flange Diff]
          td #[input(value="{{fdiffInput}}" type="number")]mm
        tr 
          td K-Factor (ANSI)
          td {{getKFactor(fdiffInput)}}


h3 Punch Distance Calculator
img(src="air-bending-punch-distances.svg" alt="air-bending-punch-distances.svg" width="500px")

table
  tr
    td Flange Diff 
    td #[input(value="{{fdiffInput}}" type="number")]mm
  tr
    td Mold Line Distance
    td #[input(value="{{ML}}" type="number")]mm
  tr 
    td 
      span(style="color: red") x = ML + FD
      | = {{round2(ML)}} #[i mm] + {{round2(fdiffInput)}} #[i mm] 
      | = 
    td
      b {{round2(ML + fdiffInput)}} #[i mm]

div(style="height: 200px")
